{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ tinymce_init({'theme': {'simple': {'menubar': false, 'statusbar': false, 'toolbar': "undo redo | bold italic | bullist numlist outdent indent"}}}) }}

<form id="odiseo_preorder_send_contract_form" action="{{ path('odiseo_preorder_send_contract', {'productId': product.id, 'buyerId': buyerId }) }}" method="POST">
	{{include('OdiseoPreorderBundle:Frontend/Preorder/Partial:errors.html.twig', {'form' : form }) }}
	{{form_row(form._token) }}
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Buyer</label>
				<p>{{ preOrder.buyer.fullname }}</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label class="control-label">Vendor</label>
				<p>{{ product.vendor.fullname }}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label( form.dateFrom ) }}
				{{ form_widget(form.dateFrom ) }}
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				{{ form_label( form.dateTo ) }}
				{{ form_widget(form.dateTo ) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<label class="control-label"> This media will be used for </label><br>
			<p>{{ preOrder.usedFor }}</p>
		</div>
		<div class="col-md-6">
			<label class="control-label"> Price </label><br>
			<p>{{ product.price|sylius_price }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				{{ form_label(form.details) }}
				{{ form_widget(form.details, { 'value': product.includes, 'attr' : { 'rows' : '3' , 'cols' : '10'}   } ) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				{{ form_label(form.restrictions) }}
				{{ form_widget(form.restrictions , { 'value': product.restrictions, 'attr' : { 'rows' : '3' , 'cols' : '10'}   } ) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				{{ form_widget(form.artIncluded ) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_widget(form.productionIncluded ) }}
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				{{ form_label( form.artDate ) }}
				{{ form_widget(form.artDate ) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="form-group">
				{{ form_label(form.termsAndConditions ) }}
				{{ form_widget(form.termsAndConditions ) }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-5">
			<button id="submit" type="submit" class="button_drop">Submit</button>
		</div>
	</div>
</form>
